gen/
edmx/
schema.sql


bin/
target/
.java-version
.flattened-pom.xml
.classpath
.project
.settings
.vscode
.idea
*.iml

node/
node_modules/
package-lock.json

*.log*
gc_history*
hs_err*
.DS_Store

*.db
